/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */


/* Banner 样式 */

.heroBanner {
    text-align: center;
    text-shadow: 2px 2px 2px #666;
    position: relative;
    overflow: hidden;
    background-image: url(/img/bg/bg_light.webp);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10rem 0;
    color: white;
}

html[data-theme='dark'] .heroBanner {
    text-align: center;
    text-shadow: 2px 2px 2px #666;
    position: relative;
    overflow: hidden;
    background-image: url(/img/bg/bg_dark.webp);
    background-position: center 10%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10rem 0;
    color: white;
}

@media screen and (max-width: 600px) {
    .heroBanner {
        text-shadow: 2px 2px 2px #666;
        background-image: url(/img/bg/bg_light_mobi.webp);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 16rem 0;
    }
    html[data-theme='dark'] .heroBanner {
        text-shadow: 2px 2px 2px #666;
        background-image: url(/img/bg/bg_dark_mobi.webp);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 16rem 0;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* 首页公告样式 */

.HomepageTips {
    font-weight: bold;
    font-size: 16px;
    padding: 16px;
    max-width: 768px;
    margin: 0 auto;
    text-align: center;
}