/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */


/* You can override the default Infima variables here. */

:root {
    --ifm-color-primary: #8e4bbc;
    --ifm-color-primary-dark: #7d3ea7;
    --ifm-color-primary-darker: #6f3796;
    --ifm-color-primary-darkest: #613082;
    --ifm-color-primary-light: #a26ac8;
    --ifm-color-primary-lighter: #ad7dcf;
    --ifm-color-primary-lightest: #b990d5;
    --ifm-code-font-size: 95%;
}

html[data-theme='dark'] {
    --ifm-color-primary: #b990db;
    --ifm-color-primary-dark: #ad7dca;
    /* any other colors you wish to overwrite */
}

.docusaurus-highlight-code-line {
    background-color: rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0 calc(-1 * var(--ifm-pre-padding));
    padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
    background-color: rgba(0, 0, 0, 0.3);
}


/* Navbar GitHub Logo */

.header-github-link:hover {
    opacity: 0.6;
}

.header-github-link::before {
    content: '';
    width: 24px;
    height: 24px;
    display: flex;
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;
}

[data-theme='dark'] .header-github-link::before {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;
}


/* Navbar Bilibili Logo */

.header-bili-link:hover {
    opacity: 0.6;
}

.header-bili-link::before {
    content: '';
    width: 24px;
    height: 24px;
    display: flex;
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M 5.909 5.378 a 1.318 1.318 0 1 1 1.724 -1.994 l 3.179 2.75 c 0.062 0.053 0.118 0.112 0.168 0.174 h 1.979 c 0.05 -0.062 0.105 -0.12 0.167 -0.173 l 3.18 -2.75 a 1.317 1.317 0 1 1 1.724 1.993 l -1.076 0.93 h 1.634 a 3.294 3.294 0 0 1 3.294 3.294 v 8.041 a 3.294 3.294 0 0 1 -3.294 3.294 H 5.413 a 3.294 3.294 0 0 1 -3.294 -3.294 V 9.602 a 3.294 3.294 0 0 1 3.294 -3.294 h 1.572 l -1.076 -0.93 Z m 12.68 3.126 H 5.412 c -0.606 0 -1.098 0.491 -1.098 1.098 v 8.041 c 0 0.606 0.492 1.098 1.098 1.098 h 13.175 c 0.606 0 1.098 -0.492 1.098 -1.098 V 9.602 c 0 -0.607 -0.492 -1.098 -1.098 -1.098 Z m -11.37 3.772 a 1.263 1.263 0 0 1 2.526 0 v 1.745 a 1.263 1.263 0 0 1 -2.525 0 v -1.745 Z m 8.298 -1.263 c -0.698 0 -1.263 0.565 -1.263 1.263 v 1.745 a 1.263 1.263 0 0 0 2.525 0 v -1.745 c 0 -0.698 -0.565 -1.263 -1.262 -1.263 Z'/%3E%3C/svg%3E") no-repeat;
}

[data-theme='dark'] .header-bili-link::before {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M 5.909 5.378 a 1.318 1.318 0 1 1 1.724 -1.994 l 3.179 2.75 c 0.062 0.053 0.118 0.112 0.168 0.174 h 1.979 c 0.05 -0.062 0.105 -0.12 0.167 -0.173 l 3.18 -2.75 a 1.317 1.317 0 1 1 1.724 1.993 l -1.076 0.93 h 1.634 a 3.294 3.294 0 0 1 3.294 3.294 v 8.041 a 3.294 3.294 0 0 1 -3.294 3.294 H 5.413 a 3.294 3.294 0 0 1 -3.294 -3.294 V 9.602 a 3.294 3.294 0 0 1 3.294 -3.294 h 1.572 l -1.076 -0.93 Z m 12.68 3.126 H 5.412 c -0.606 0 -1.098 0.491 -1.098 1.098 v 8.041 c 0 0.606 0.492 1.098 1.098 1.098 h 13.175 c 0.606 0 1.098 -0.492 1.098 -1.098 V 9.602 c 0 -0.607 -0.492 -1.098 -1.098 -1.098 Z m -11.37 3.772 a 1.263 1.263 0 0 1 2.526 0 v 1.745 a 1.263 1.263 0 0 1 -2.525 0 v -1.745 Z m 8.298 -1.263 c -0.698 0 -1.263 0.565 -1.263 1.263 v 1.745 a 1.263 1.263 0 0 0 2.525 0 v -1.745 c 0 -0.698 -0.565 -1.263 -1.262 -1.263 Z'/%3E%3C/svg%3E") no-repeat;
}

.header-bili-link:hover {
    opacity: 0.6;
}


/* Homepage Banner button */

a.button.button--secondary {
    color: black!important;
    background-color: rgba(0, 0, 0, 0.05);
    border: none;
}

a.button.button--secondary:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

a.button.button--primary {
    color: white!important;
    background-color: rgba(0, 0, 0, 0.45);
    border: none;
}

a.button.button--primary:hover {
    background-color: rgba(0, 0, 0, 0.65);
}

.footer {
    background-color: #262626;
}


/* 顶部通知条样式 */

div[class^="announcementBar"] {
    height: auto;
}

div[class^="announcementBarContent"] {
    font-size: 14px;
    padding: 8px 30px;
}

div[class^="announcementBarContent"] a {
    display: inline-block;
    color: #f5abff !important;
    text-decoration: none;
}

div[class^="announcementBarContent"] a:hover {
    color: #fff !important;
    text-decoration: underline;
}


/* 下载按钮样式 */

.buttonDownload {
    height: 46px;
    padding: 10px 24px;
    color: #8E4BBC;
    font-size: 16px;
    line-height: 46px;
    border: 1px solid #8E4BBC;
    border-radius: 6px;
}

html[data-theme='dark'] .buttonDownload {
    color: #b990db;
    border-color: #b990db;
}

.buttonDownload:hover {
    background: #eee4f5;
    color: #8e4bbc;
    text-decoration: none;
}

html[data-theme='dark'] .buttonDownload:hover {
    background: #261237;
    color: #b990db;
    text-decoration: none;
}


/* 水平分割线样式 */

hr {
    border-color: #0002;
    padding: 0 4px;
    border-width: 0.5px;
}

html[data-theme='dark'] hr {
    border-color: #595959;
}


/* 主页图标样式 */

.gameicon {
    width: 52px;
    border-radius: 10px;
    vertical-align: middle;
    margin-right: 6px;
}


/* 特殊时期时网页黑白 */


html {
    filter: grayscale(1);
    filter: gray;
}
